
.input-container
  border:(1px solid #ccc !important)
  padding:(0px 12px !important)
  border-radius: (0px !important)
  font-size: 12px
  &:hover
    border-color: (#999 !important)
  &:focus
    box-shadow: (none !important)
    border-color: (#333 !important)
  &::placeholder
    font-size: 12px
  &.phone
    &.PhoneInput--focus
      border-color: (#333 !important)
    input
      outline: none

.input-submit-button
  box-shadow: none !important
  padding: 0 16px !important
  border-radius: 0px !important
  background-color: black !important
  border: 1px solid black !important
  min-width: 144px !important
  height: 36px !important
  line-height: 34px !important
  font-size: 14px !important
  &:hover
    border-color: #666 !important
    background-color: #666 !important


.payment-option-image
  height: 24px !important
  width: 36px !important
  margin-right: 10px !important